<div class="container haha" style="display: flex; justify-content: center">
  <div class="row">
    <div class="col-lg-12 col-md-12" style="text-align:  center">

      <form class7="text-center border border-light p-5">

        <p class="h4 mb-4" style="color: #f1f1f1">TẠO MỚI DỊCH VỤ</p>

        <h4 style="color: red">VILLA</h4>

        <p>
          <button class="btn btn-warning"><a href="/furama/list">về trang chủ</a></button>
        </p>
        <input name="villa" value="VILLA" disabled placeholder="dịch vụ">
        <!--tên dịch vụ-->
        <input  class="form-control mb-4" placeholder="tên dịch vụ">
<!--        <div *ngIf="!name.valid &&(name.dirty || name.touched)">-->
<!--          <small class="text-danger" [hidden]="!name.errors.required">-->
<!--            mã khách hàng không được để trống-->
<!--          </small>-->
<!--          <small class="text-danger" [hidden]="!name.errors.pattern">-->
<!--            mã khách hàng sai định dạng-->
<!--          </small>-->
<!--        </div>-->
        <!--mã dịnh vụ-->
        <input type="text" class="form-control mb-4" placeholder="mã dịch vụ">
        <span class="loi text-danger" style="color: red"></span>
        <!--diện tích sử dụng-->
        <input type="text" class="form-control mb-4" placeholder="diện tích sử dụng">
        <span class="loi" style="color: red"></span>
        <!--                    chi phí thuê-->
        <input class="form-control mb-4" placeholder="chi phí thuê">
        <span class="loi" style="color: red"></span>
        <!--                    số lượng người tối đa-->
        <input class="form-control mb-4" placeholder="số người tối đa">
        <span class="loi" style="color: red"></span>
        <!--                    kiểu thuê-->
        <select
          style="font-size: 18px ; margin-right: 500px ; position : relative ; margin-bottom: 10px"
          class="browser-default custom-select  form-control mb-4 ">
          <option>Gio</option>
          <option>ngay</option>
          <option>thang</option>
          <option>nam</option>
        </select>
        <input type="text" class="form-control mb-4" placeholder="diện tích hồ bơi">

        <div>
          <input type="text" class="form-control mb-4" placeholder="tiêu chuẩn phòng">
          <!--mô tả khác-->
          <textarea class="form-control mb-4" placeholder="mô tả khác"
          ></textarea>

          <input type="text" class="form-control mb-4" placeholder="số tầng">
          <!--villa -->
        </div>
        <button class="btn btn-info btn-block" type="submit">lưu</button>

      </form>

    </div>
  </div>
</div>




