<div class="container haha" style="display: flex; justify-content: center">
  <div class="row">
    <div class="col-lg-12 col-md-12" style="text-align:  center">

      <form class7="text-center border border-light p-5" [formGroup]="createVilla" (ngSubmit)="onsubmit()">

        <p class="h4 mb-4" style="color: red">TẠO MỚI DỊCH VỤ VILLA</p>

        <p>
          <button class="btn btn-warning"><a href="/furama/list">về trang chủ</a></button>
        </p>
        <!--tên dịch vụ-->
        <input  class="form-control mb-4" placeholder="tên dịch vụ" formControlName="serviceName">
        <div *ngIf="!serviceName.valid &&(serviceName.dirty || serviceName.touched)">
          <small class="text-danger" [hidden]="!serviceName.errors.required">
            mã khách hàng không được để trống
          </small>
          <small class="text-danger" [hidden]="!serviceName.errors.pattern">
            mã khách hàng sai định dạng
          </small>
        </div>
        <!--mã dịnh vụ-->
        <input type="text" class="form-control mb-4" placeholder="mã dịch vụ" formControlName="serviceCode">
        <div *ngIf="!serviceCode.valid &&(serviceCode.dirty || serviceCode.touched)">
          <small class="text-danger" [hidden]="!serviceCode.errors.required">
           mã dịch vụ không được để trống
          </small>
        </div>
        <!--diện tích sử dụng-->
        <input type="text" class="form-control mb-4" placeholder="diện tích sử dụng" formControlName="area">
        <div *ngIf="!area.valid &&(area.dirty || area.touched)">
          <small class="text-danger" [hidden]="!area.errors.required">
            số tầng không được để trống
          </small>
          <small class="text-danger" [hidden]="!area.errors.pattern">
            nhập  sai định dạng
          </small>
        </div>
        <!--                    chi phí thuê-->
        <input class="form-control mb-4" placeholder="chi phí thuê" formControlName="rentalCost">
        <div *ngIf="!rentalCost.valid &&(rentalCost.dirty || rentalCost.touched)">
          <small class="text-danger" [hidden]="!rentalCost.errors.required">
            số tầng không được để trống
          </small>
        </div>
        <!--                    số lượng người tối đa-->
        <input class="form-control mb-4" placeholder="số người tối đa" formControlName="maxPeople">
        <div *ngIf="!maxPeople.valid &&(maxPeople.dirty || maxPeople.touched)">
          <small class="text-danger" [hidden]="!maxPeople.errors.required">
           không được để trống
          </small>
        </div>
        <!--                    kiểu thuê-->
        <select formControlName="rentType"
          style="font-size: 18px ; margin-right: 500px ; position : relative ; margin-bottom: 10px"
          class="browser-default custom-select  form-control mb-4">
          <option [ngValue]="a" *ngFor="let a of rentTypes">
            {{a.name}}
          </option>
        </select>
        <input type="text" class="form-control mb-4" placeholder="diện tích hồ bơi" formControlName="areaPool">
        <div *ngIf="!areaPool.valid &&(areaPool.dirty || areaPool.touched)">
          <small class="text-danger" [hidden]="!areaPool.errors.required">
            diện tích hồ bơi không được để trống
          </small>
          <small class="text-danger" [hidden]="!areaPool.errors.pattern">
            nhập  sai định dạng
          </small>
        </div>

        <div>
          <input type="text" class="form-control mb-4" placeholder="tiêu chuẩn phòng" formControlName="standRoom">
          <div *ngIf="!standRoom.valid &&(standRoom.dirty || standRoom.touched)">
            <small class="text-danger" [hidden]="!standRoom.errors.required">
             tiêu chuẩn không được để trống
            </small>
          </div>

          <textarea class="form-control mb-4" placeholder="mô tả khác" formControlName="description"></textarea>
          <div *ngIf="!description.valid &&(description.dirty || description.touched)">
            <small class="text-danger" [hidden]="!description.errors.required">
             mô tả không được để trống
            </small>
          </div>

          <input type="text" class="form-control mb-4" placeholder="số tầng" formControlName="numberFloor">
          <div *ngIf="!numberFloor.valid &&(numberFloor.dirty || numberFloor.touched)">
            <small class="text-danger" [hidden]="!numberFloor.errors.required">
              số tầng không được để trống
            </small>
            <small class="text-danger" [hidden]="!numberFloor.errors.pattern">
              nhập  sai định dạng
            </small>
          </div>

        </div>
        <button class="btn btn-info btn-block" type="submit">lưu</button>

      </form>

    </div>
  </div>
</div>




