<div id="body">
  <div class="container mt-1">

    <!--    menu bar-->
    <div class="row menu-header">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <nav class="navbar navbar-expand-lg header-menu-bar ">

          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarLeftAlignExample"
            aria-controls="navbarLeftAlignExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>

          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse tam" id="navbarLeftAlignExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menu-header-nav">
              <li class="nav-item haha">
                <a [routerLink]="['']"  class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item haha">
                <a class="nav-link" href="#">Employee</a>
              </li>
              <li class="nav-item haha">
                <a [routerLink]="['/customer-list']" class="nav-link" href="#">Customer</a>
              </li>
              <li class="nav-item haha">

              </li>


              <!-- Navbar dropdown -->
              <li class="nav-item dropdown haha">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  Contract
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a [routerLink]="['/list-contract']" class="dropdown-item" href="#">contract detail</a>
                  </li>
                  <li>
                    <a [routerLink]="['/create-contract']" class="dropdown-item" href="#">add new</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider"/>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Other</a>
                  </li>
                </ul>
              </li>

            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
          <!-- Container wrapper -->
        </nav>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 header-menu-bar">
        <div style="display: flex ; justify-content: center ; padding-top: 10px">
          <a href="#"><i style="font-size: 40px ; color: red" class="fas fa-shopping-cart"></i></a>
          <a style="font-size: 20px ; margin-left: 15px">
            Nhấp vào để Booking
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

