
<div class="p-5"></div>
<div class="text-center">
  <p class="lead display-5">chỉnh sữa thông tin dịch vụ </p>
</div>

<div class=" col-4 mx-auto">
  <form>
    <div class="modal-body">
      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="villa" type="text" id="customerCode" class="form-control"/>
          <label class="form-label" for="customerCode">Tên dịch vụ<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="DV-009" type="text" id="customerName" class="form-control"/>
          <label class="form-label" for="customerName">Mã Dịch vụ<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>

      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="200m2" type="text" class="form-control"/>
          <label class="form-label" for="customerName">diện tích sử dụng<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>

      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="5.000.000" type="text" class="form-control"/>
          <label class="form-label" for="customerName">chi phí thuê<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>


      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="3" type="text" id="idCard" class="form-control"/>
          <label class="form-label" for="idCard">Số người tối đa<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="ngày" type="text" id="phoneNumber" class="form-control"/>
          <label class="form-label" for="phoneNumber">kiểu thuê<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="50m2" type="text" id="email" class="form-control"/>
          <label class="form-label" for="email">diện tích hồ bơi</label>
        </div>
        <small class="text-danger"></small>
      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="5 sao" type="text" id="address" class="form-control"/>
          <label class="form-label" for="address">tiêu chuẩn phòng</label>
        </div>
        <small class="text-danger"></small>
      </div>

      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="4" type="text"  class="form-control"/>
          <label class="form-label" for="address">số tầng</label>
        </div>
        <small class="text-danger"></small>
      </div>

      <div class="form-group mb-4">
        <div class="form-outline">
          <input value="sướng" type="text"  class="form-control"/>
          <label class="form-label" for="address">mô tả khác</label>
        </div>
        <small class="text-danger"></small>
      </div>

      <label class="form-label" for="customerType">dịch vụ miễn phí đi kèm</label>
      <select id="customerType" class="form-control mb-4">
        <option>nước</option>
        <option>nước</option>
        <option>và nước</option>
      </select>

    </div>
    <div class="modal-footer">
      <!--            <a th:href="@{/customer}" type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Đóng</a>-->
      <input type="submit" class="btn btn-primary" value="Thêm mới"/>
    </div>
  </form>
</div>



