
<div class="container">
  <button style="margin-top: 10px ; position: relative" class="btn btn-success"><a [routerLink]="['/create-customer']">create
    new Customer</a></button>
<!--  <form>-->
<!--    <div class="input-group" style="display: flex; justify-content: flex-end">-->
<!--      <div class="form-outline">-->
<!--        <input name="keyWord" type="search" id="form1" class="form-control"/>-->
<!--        <label class="form-label" for="form1">Search</label>-->
<!--      </div>-->
<!--      <button type="button" class="btn btn-primary">-->
<!--        <i class="fas fa-search"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--  </form>-->
  <div style="background-color: black; color: white;height: 70px ; text-align: center ">
    <h2 style="margin-top: 15px">DANH SÁCH KHÁCH HÀNG</h2></div>
  <table class="table table-borderless">
    <thead>
    <tr>
      <th>STT</th>
      <th>mã khách hàng</th>
      <th>tên</th>
      <th>Ngày sinh</th>
      <th>giới tính</th>
      <th>CMNN</th>
      <th>Số điện thoại</th>
      <th>Email</th>
      <th>địa chỉ</th>
      <th>Loại khách hàng</th>
      <th>xóa</th>
      <th>chỉnh sửa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of customerList ; index as i">
      <td>{{(i+1)}}</td>
      <td>{{(a.customerCode)}}</td>
      <td>{{(a.name)}}</td>
      <td>{{(a.dateOfBirth)}}</td>
      <td>{{(a.gender)}}</td>
      <td>{{(a.idCard)}}</td>
      <td>{{(a.phone)}}</td>
      <td>{{(a.email)}}</td>
      <td>{{(a.address)}}</td>
      <td>{{(a.typeCustomer)}}</td>
      <td><a style="color: darkviolet" class="fas far fa-trash-alt delete_btn"
             data-mdb-toggle="modal" data-mdb-target="#deleteModal"></a></td>
      <td><a [routerLink]="['/edit-customer']" style="color: chartreuse" class="far fa-edit"></a>
      </td>
    </tr>

    </tbody>
  </table>
  <div>
    <button class="btn btn-success">
      <a>Previous</a></button>

    <button class="btn btn-success">
      <a>next</a>
    </button>
  </div>


</div>


<div
  class="modal fade"
  id="deleteModal"
  data-mdb-backdrop="static"
  data-mdb-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">xóa khách hàng </h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        <!--                <input type="hidden" id="customerDelete_id" name="customer_id">-->
      </div>
      <h4>bạn có muốn xóa khách hàng này không?</h4>
      <div class="modal-body" id="customer_delete">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="delete_customer_id">ok</button>
      </div>
    </div>
  </div>
</div>

