<div class="p-3"></div>
<div class="text-center">
  <p class="lead display-5">THÊM MỚI HỢP ĐỒNG</p>
</div>
<div class=" col-4 mx-auto">
  <form>
    <div class="modal-body">
      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="text" id="customerCode" class="form-control"/>
          <label class="form-label" for="customerCode">Mã hợp đồng<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="date" id="customerName" class="form-control"/>
          <label class="form-label" for="customerName">Ngày bắt đầu<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>

      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="date" class="form-control"/>
          <label class="form-label" for="customerName">Ngày kết thúc<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>

      <!--      <label class="form-label" for="gender">Giới tính</label>-->
      <!--      <select id="gender" class="form-control mb-4">-->
      <!--        <option selected>Nam</option>-->
      <!--        <option>Nữ</option>-->
      <!--        <option>Khác</option>-->
      <!--      </select>-->

      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="text" id="dayOfBirth" class="form-control"/>
          <label class="form-label" for="dayOfBirth">Tiền đặt cọc<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>

      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="text" id="idCard" class="form-control"/>
          <label class="form-label" for="idCard">Tổng tiền thanh toán<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="text" id="phoneNumber" class="form-control"/>
          <label class="form-label" for="phoneNumber">nhân viên<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="text" id="email" class="form-control"/>
          <label class="form-label" for="email">khách hàng<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>
      <div class="form-group mb-4">
        <div class="form-outline">
          <input type="text" id="dichvu" class="form-control"/>
          <label class="form-label" for="dichvu">dịch vụ<span class="text-danger">(*)</span></label>
        </div>
        <small class="text-danger"></small>
      </div>
    </div>
    <div class="modal-footer">
      <!--            <a th:href="@{/customer}" type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Đóng</a>-->
      <input type="submit" class="btn btn-primary" value="Thêm mới"/>
    </div>
  </form>
</div>

