
/* menu chính */
.card img{
  width: 270px;
  height: 320px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

/*slide nav*/
.img-fluid{
  height: 314.5px;
  padding-left: 0px;
  width: 100%;

}
